[build-system]
requires = ["setuptools>=75", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "__PACKAGE_NAME__"
version = "0.1.0"
requires-python = ">=3.11"
dependencies = ["flaxon[standard,admin]>=0.2.7"]

[project.optional-dependencies]
test = ["pytest>=8"]

[tool.setuptools]
py-modules = ["app", "settings", "management", "flaxon_cli", "models", "admin"]

[tool.setuptools.packages.find]
include = ["modules*", "migrations*"]
